APP_NAME="Rag project"
TZ=Asia/Ho_Chi_minh

POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_DB=""

JWT_SECRET=""

CHUNKING_ADAPTER=""
EMBEDDINGS_ADAPTER=""
LLM_ADAPTER=""

NETWORK_SUBNET="172.18.0.0/16"
REVERSE_PROXY_PORT=80
REVERSE_PROXY_IP="172.18.0.2"
APP_DOCKER_IP="172.18.0.3"
PGVECTOR_DOCKER_IP="172.18.0.4"
RABBITMQ_DOCKER_IP="172.18.0.5"
TRUSTED_HOSTS=["172.18.0.2"]
ALLOWED_HOSTS=["127.0.0.1"]
